//META{"name":"BaconSpaceCord","description":"Welcome To BaconSpaceCord","author":"Bacon_Space#1756","version":"1.2"}*//

div.message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked.revealed{
    display:none!important;
}
}
.avatar-large {
    left: 8px
}
.theme-dark .message-group .comment .markup .mention:hover {
    background-color: yellow;
}
    .embed .embed-provider{
    color:orange !important;
    } 
    .embed .embed-title+.embed-description{
    color:orange !important;
    } 
    
    .embed .embed-title{
    color:red !important;
    }
    .chat>.title-wrap>.title {
     color:yellow !important;
     color:transparent 
    }
.message-group h2 .timestamp {
    color: yellow;
    font-size: 0.75rem;
    letter-spacing: 0;
    font-weight: 400;
    text-transform: none;
    margin-left: 6px;
}
.protip {
    color: green;

}
.a {
    color: green;

}
.itemBrand-mC9YR4 {
    color: yellow;
}
.itemBrandSelected-3LxxzT {
    color: #fff;
    background-color: yellow;
}


.message-group .mentioned .message-text:after {
    position: absolute;
    top: 0;
    left: -6px;
    bottom: 0;
    width: 2px;
    background: ;
    border-left: 4px solid yellow;
    border-radius: 2px 0 0 2px;
}
.theme-dark .message-group .embed-wrapper .embed-color-pill {
    background-color: lightblue;
}

.message-group .avatar-large {
border-radius: 8px;
}
.avatar-small {
border-radius: 8px;
}
.avatar-popout {
border-radius: 8px;
}


.avatar-xxlarge {
border-radius: 8px;

}
.avatar-hint{
   border-radius: 8px; 
}
.embed .embed-author-icon {
    margin-right: 9px;
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 8%;
}
.need-help-modal.deprecated .header {
    background-color: darkred;
    border-radius: 5px 5px 0 0;
    height: 120px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.form.deprecated .control-group {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.need-help-modal.deprecated a {
    color: darkred;
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.avatar-profile {
border-radius: 8%;
}

.avatar-hint {
border-radius: 8%;
}



.bot-tag{
    background-color: green;
    padding: .2em .6em .3em;
    border-radius: 0;
    font-size: 75%;
    font-weight: normal;
    text-transform: uppercase;
    vertical-align: middle;
}
.bot-tag:first-letter {
    text-transform: uppercase;
}
.bot-tag.bot-tag-invert {
    background: green;
    color: white!important;
    text-transform: uppercase;
}
.emoji-picker .premium-promo{
    display: none;
}

.connecting .connecting-inner{
    background-image: url(https://i.imgur.com/MfeQkLJ.gif);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 32px;
    -webkit-filter: invert(100%);
}
#user-profile-modal .empty .empty-icon-friends{
    display: none;
}
#user-profile-modal .empty{
    background-color: #000;
}
#user-profile-modal .empty .empty-text{
    margin-top: -10px;
    color: #FFF;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5625;
    text-transform: none;
}



.avatar-profile[style*="173449041181409281"]:after {
    content: "Creator of BaconSpaceCord";
    color: red;
    font-size: 13px;
    text-align: left;
    top: 60%;
    position: absolute;
    margin: 11px 0 0 175px;
    width: 170px;
}

.avatar-profile[style*="154679003326709761"]:after {
    content: "🙈 BaconSpaceCord Staff";
    color: green;
    font-size: 13px;
    text-align: left;
    top: 61%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}
.avatar-profile[style*="89125338465964032"]:after {
    content: "🙈 BaconSpaceCord Staff";
    color: green;
    font-size: 13px;
    text-align: left;
    top: 51%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}
.avatar-profile[style*="280010068823506944"]:after {
    content: "BaconSpaceCord Bot";
    color: green;
    font-size: 13px;
    text-align: left;
    top: 61%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}



.avatar-profile[style*="162691713582759936"]:after {
    content: "🙈 BaconSpaceCord Staff";
    color: green;
    font-size: 13px;
    text-align: bottom;
    top: 51%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}
.avatar-1BXaQj .xsmall-2rXiD4{
border-radius: 8%;
}
.guilds-wrapper .guilds .guild .avatar-small{
    border-radius: 8%;
}
.message-group .mentioned .message-text{
    border-radius: 8%;
}
.channel-members .avatar-small{
   border-radius: 8%;
}
.avatarDefault-3jtQoc, .avatarSpeaking-3teDH6 {
 border-radius: 8%;
}
.status {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.status-online {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.status-dnd {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.guilds-wrapper .guilds .friends-icon {
    width: 50px;
    height: 50px;
    background-image: url(/assets/89576a4bb71f927eb20e8aef987b499b.svg);
    background-size: 32px 28px;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 8px;
}
/** Verified User's ***/ 

.avatar-profile[style*="100128983483432960"]:after {
    content: "✔ Verified BaconSpaceCord User";
    color: green;
    font-size: 13px;
    text-align: left;
    top: 61%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}
.avatar-profile[style*="189143251180060672"]:after {
    content: "✔ Verified BaconSpaceCord User";
    color: green;
    font-size: 13px;
    text-align: left;
    top: 61%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}
.avatar-profile[style*="106222991515328512"]:after {
    content: "✔ Verified BaconSpaceCord User";
    color: green;
    font-size: 13px;
    text-align: left;
    top: 61%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}
.avatar-profile[style*="121350244909842434"]:after {
    content: "✔ Verified BaconSpaceCord User";
    color: green;
    font-size: 13px;
    text-align: left;
    top: 61%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}
.avatar-profile[style*="145367010489008128"]:after {
    content: "✔ Verified BaconSpaceCord User";
    color: green;
    font-size: 13px;
    text-align: left;
    top: 71%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}
.avatar-profile[style*="82157505391624192"]:after {
    content: "✔ Verified BaconSpaceCord User";
    color: green;
    font-size: 13px;
    text-align: left;
    top: 61%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}
.avatar-profile[style*="85454666434879488"]:after {
    content: "✔ Verified BaconSpaceCord Staff";
    color: green;
    font-size: 13px;
    text-align: left;
    top: 61%;
    position: absolute;
    margin: 12px 0 0 175px;
    width: 170px;
}
.avatar-popout {
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
    border-radius: 8%;
}
.user-popout .body {
    background: darkblue;
}
.user-popout .header.streaming {
    background-color: green;
    background-image: none;
    padding: 0;
}
.user-popout .header.streaming .live-on-twitch {
    cursor: pointer;
    background-color: blue;
}
.user-popout .header.streaming .live-on-twitch:hover {
    cursor: pointer;
    background-color: darkblue;
}
